<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <section class="index-page">
        <div class="amount">
            <p>Total Amount : <span  th:text="${amount}"></span></p>
        </div>
        <div class="cibil">
            <p>Cibil Score : <span  th:text="${cibil}"></span></p>
        </div>

<!--        <a th:href="@{/user/pay-loan}"><button class="btn btn-success">Pay Loan</button></a>-->
    </section>
</body>
</html>