<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <!--                            alert bar-->
        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message != null}">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Loan Type</th>
                <th scope="col">Amount(&#x20B9;)</th>
                <th scope="col">Duration(Months)</th>
                <th scope="col">Status</th>
                <th scope="col">Agent Mail</th>
                <th scope="col">Action Date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="loan, i : ${loans}">
                <th scope="row" th:text="${i.count}"></th>
                <td th:text="${loan.type}"></td>
                <td th:text="${loan.amount}"></td>
                <td th:text="${loan.duration}"></td>
                <td th:class="${loan.status == 'Pending'} ? 'text-warning' : (${loan.status == 'Approved'} ? 'text-success' : 'text-danger')"
                    th:text="${loan.status}">
                </td>
                <td th:text="${loan.getAgentId.getEmail()}"></td>
                <td th:if="${loan.approveDate != null}" th:text="${#dates.format(loan.approveDate, 'yyyy-MM-dd')}"></td>
                <td th:unless="${loan.approveDate != null}">Not Yet</td>
                <td>
                    <!-- Update & delete Button and Link -->
                    <span th:if="${loan.status == 'Approved'}">
                        <a th:href="@{/user/pay-loan(loanId=${loan.loanId})}">
                            <button type="button" class="btn btn-primary">Pay Now</button>
                        </a>
                    </span>
                    <span th:if="${loan.status == 'Paid'}">
                        <button type="button" class="btn btn-primary" disabled="disabled">Pay Now</button>
                    </span>
                    <span th:if="${loan.status == 'Pending'}">
                        <a th:href="@{/user/update-loan(loanId=${loan.loanId})}">
                            <button type="button" class="btn btn-primary">Update</button>
                        </a>
                        <a th:href="@{/user/delete-loan(loanId=${loan.loanId})}">
                            <button type="button" class="btn btn-warning">Delete</button>
                        </a>
                    </span>
                    <span th:if="${loan.status != 'Approved' && loan.status != 'Pending' && loan.status != 'Paid'}">
                        <button type="button" class="btn btn-primary" disabled="disabled">Update</button>
                        <button type="button" class="btn btn-warning" disabled="disabled">Delete</button>
                    </span>

                </td>
            </tr>
            </tbody>
        </table>

    </section>
</body>
</html>